openapi: 3.0.2

servers:
  - url: 'https://api.taeho.io/oneonone/v1'
    description: Production server
  - url: 'http://localhost:3000/1on1/v1'
    description: Local server

info:
  description: >-
    Hassle-free 1on1 questions.
  version: 1.0.0
  title: 1on1
  license:
    name: Apache-2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

tags:
  - name: health
    description: Health check
  - name: categories
    description: Operations about categories
  - name: questions
    description: Operations about questions

paths:
  /health:
    get:
      tags:
        - health
      summary: Health check
      description: >-
        Health check endpoint. Returns 200 if the service is up and running.
      operationId: health
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object

  /categories:
    get:
      tags:
        - categories
      summary: Get all categories
      description: >-
        Get all categories.
      operationId: getCategories
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '500':
          description: Internal server error

  /categories/{category_id}/questions:
    get:
      tags:
        - categories
      summary: Get all questions for a category
      description: >-
        Get all questions for a category.
      operationId: getCategoryQuestions
      parameters:
        - name: category_id
          in: path
          description: ID of category to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema: 
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Question'
        '500':
          description: Internal server error

  /categories/{category_id}/questions/random:
    get:
      tags:
        - categories
        - questions
      summary: Get a random question for a category
      description: >-
        Get a random question for a category.
      operationId: getCategoryRandomQuestion
      parameters:
        - name: category_id
          in: path
          description: ID of category to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  question:
                    $ref: '#/components/schemas/Question'
        '500':
          description: Internal server error

  /questions:
    get:
      tags:
        - questions
      summary: Get all questions
      description: >-
        Get all questions.
      operationId: getQuestions
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Question'
        '500':
          description: Internal server error

  /questions/{question_id}:
    get:
      tags:
        - questions
      summary: Get a question
      description: >-
        Get a question.
      operationId: getQuestion
      parameters:
        - name: question_id
          in: path
          description: ID of question to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  question:
                    $ref: '#/components/schemas/Question'
        '500':
          description: Internal server error

  /questions/random:
    get:
      tags:
        - questions
      summary: Get a random question
      description: >-
        Get a random question.
      operationId: getRandomQuestion
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  question:
                    $ref: '#/components/schemas/Question'
        '500':
          description: Internal server error

components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      required:
        - id
        - name
    Question:
      type: object
      properties:
        id:
          type: integer
          format: int64
        question:
          type: string
      required:
        - id
        - question
